<!-- content -->
<div id='registerdevice-form-container' class='form-container content'>
    <form id='register-device-form'>
      <label for='device-id'>Device ID:</label>
      <input type='text' id='register-device-id' name='register-device-id' required>
      <div class='register-search-results'></div>
      <button type='submit'>Register</button>
      <button type='button' id='register-device-cancel-button'>Cancel</button>
    </form>
  </div>
  <!-- help -->
  <h3 class="help">help from consumer register-device-for-consumer id</h3>
  