body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding-top: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    color: #ecf0f1;
    display: block;
    text-align: center;
}

.sidebar a:hover {
    background-color: #34495e;
}

.main-content {
    flex-grow: 1;
    background-color: #ecf0f1;
    padding: 20px;
}

.header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
}

.button-group {
    display: flex;
    gap: 10px;
}

.header button {
    background-color: white;
    color: #2c3e50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
}

.all-devices {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    max-height: 520px;
    overflow-y: auto;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-top: 5px;
    flex: 1;
    min-width: 30%;
    max-width: 30%;
    height: 120px;
}

.card-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card button {
    background-color: #2c3e50;
    color: white;
    width: 90px;
    border: none;
    border-radius: 5px;
    height: 30px;
    font-weight: 400;
    cursor: pointer;
}
