body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent scrolling of the entire page */
}

.device-profile-container {
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 80vh; /* Limiting height to 90% of the viewport height */
    margin: auto;
    padding: 20px;
    background-color: #ffffff; /* White background */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.device-profile-heading {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    flex-shrink: 0; /* Prevents shrinking of heading */
}



.device-card {
    position: relative; /* Position relative for absolute positioning of buttons */
    background-color: white; /* Light green background */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    flex-grow: 1; /* Allow the card to grow and take remaining space */
}

.device-card h3, .device-card p {
    color: black;
}

.device-card hr {
    border: 0;
    height: 1px;
    background: black; /* Green color */
    margin-top: 10px;
    margin-bottom: 20px;
}
.button-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.button-container button {
    padding: 10px 20px;
    background-color: #32CD32; /* Lime green button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #228B22; /* Darker green on hover */
}

form#editProfileForm {
    background-color: #ffffff; /* Form background color */
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form#editProfileForm label {
    display: block;
    margin-bottom: 8px;
    color: #006400; /* Dark green color */
    font-weight: bold;
}

form#editProfileForm input[type="text"],
form#editProfileForm input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form#editProfileForm input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

form#editProfileForm label[for="confirmCheckbox"] {
    display: inline-block;
    vertical-align: middle;
    color: #006400; /* Checkbox label color */
}

form#editProfileForm button[type="submit"] {
    padding: 10px 20px;
    background-color: #32CD32; /* Lime green button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form#editProfileForm button[type="submit"]:hover {
    background-color: #228B22; /* Darker green on hover */
}

form#editProfileForm button[type="button"] {
    padding: 10px 20px;
    background-color: #dc3545; /* Cancel button background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form#editProfileForm button[type="button"]:hover {
    background-color: #c82333; /* Cancel button hover color */
}

.overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.overlay-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.overlay-content label {
    display: block;
    margin: 10px 0 5px;
}

.overlay-content input[type="text"],
.overlay-content input[type="checkbox"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.overlay-content input[type="checkbox"] {
    width: auto;
}

.overlay-content button {
    padding: 10px 20px;
    margin: 10px 5px 0 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.overlay-content button[type="submit"] {
    background-color: #28a745;
    color: white;
}

.overlay-content button[type="submit"]:hover {
    background-color: #218838;
}

.overlay-content button[type="button"] {
    background-color: #dc3545;
    color: white;
}

.overlay-content button[type="button"]:hover {
    background-color: #c82333;
}


.graph-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.grafana-graph-panel {
    margin: 10px;
}

.grafana-text-panel {
    margin: 10px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .device-profile-container {
        width: 95%;
        padding: 10px;
    }

    .device-profile-heading {
        font-size: 1.5rem;
    }

    .device-card {
        padding: 10px;
    }

    .button-container button,
    form#editProfileForm button[type="submit"],
    form#editProfileForm button[type="button"] {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
    .button-container {
        top: auto;
        bottom: 10px;
        right: 10px;
    }

    .button-container button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}
