body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(200, 219, 225);
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 420px;
    
    height: 59vh;
    font-size: 18px;
}
 h2{
    margin-top: 12px;
    margin-bottom: 40px;
    text-align: center;
    
}

.form-group {
    
    flex-direction: column;
    align-items: flex-start; /* Align labels to the left */
    width: 100%; /* Ensure the group takes full width */
    margin-bottom: 10px;
    margin-top: 65px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 1px solid #cccccc;
    font-size: 18px;
    
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #01a8ce;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 25px;
    font-size: 18px;
}

hr{
    margin-bottom: 20px;
    border-radius: 12px;
}
button:hover {
    background-color: #05b33f;
}

