/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(200, 219, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    
}

.loginformcs
{
    margin: 5% auto 10;
    
    

}

.loginformcs h2{
    margin-top: 100px;
    margin-bottom: -55px;
}

/* Form container styles */
#loginform {
    background-color: #ffffff;
    margin: 100px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    width: 450px;
    max-width: 50; /* Ensure form doesn't exceed screen width */
    text-align: center; /* Center align content */
    position: relative;
}

/* Form title styles */
h2 {
    text-align: center;
    margin-top: 2000px;
    
    padding: -10px 0; /* Adjust padding for spacing */
    color: #333333;
    position: relative; /* Position absolutely */
    top: 0; /* Align to the top */
    bottom: 90%;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
}


.input-group {
    
    flex-direction: column;
    align-items: flex-start; /* Align labels to the left */
    width: 100%; /* Ensure the group takes full width */
    margin-bottom: 10px;
}
/* Input field styles */
input[type="text"],
input[type="password"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 19px;
}

/* Button styles */
button {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #01a8ce;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #05b33f;
}

/* Additional button styles */
#otplogin,
#google {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color:  #01a8ce; /* Google blue */
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    
}
#google i{
    margin-left: 5px;
}

#otplogin:hover,
#google:hover {
    background-color:   #05b33f; /* Darker Google blue */
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}