body, html {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9e6eb;
    font-family: Arial, Helvetica, sans-serif;
}

.asterisk {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 40px #11607a;
    width: 350px;
}

.tab-content {
    display: block;
    padding: 20px 0;
}

form input {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
}

form button {
    padding: 10px;
    align-content: center;
    cursor: pointer;
    font-size: 1em;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 3px;
}

form button:hover {
    background-color: #05b33f;
}

/* Style for the fieldset */
fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    width: auto;
    display: inline-block;
}

/* Style for the legend */
legend.role {
    font-weight: bold;
    padding: 0 5px;
    color: #333;
}

div {
    margin-bottom: 5px;
}
/* Ensure the form container takes the full height of the screen */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* Style the form container */
form {
    width: 400px; 
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.3); 
}

/* Style form labels */

label {
    
    margin-bottom: 8px; 
    font-weight: bold;
} 









/* Style form inputs */
input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 12px; /* Adjust margin-bottom to match label */
    margin-top:4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* Style the submit button */
/* Style the submit button */
button[type="submit"] {
    width: 80%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Added margin for better spacing */
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Change background color on hover */
button[type="submit"]:hover {
    background-color: #45a049; /* Blue color on hover */
}

/* Change background color when clicked */
button[type="submit"]:active {
    background-color: #45a049; /* Green color when clicked */

}