#unassigned-devices-table button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Add space between buttons */
}


#unassigned-devices-table button#delete-button {
    background-color: #f44336;
    margin-right: 0; /* Remove right margin for delete button */
}

#unassigned-devices-table button:hover{
    opacity: 0.8;
}


/* SEARCH USER */
.user-search-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e6f0ff; /* Adjusted background color with a bluish tone */
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #020d1b; /* Adjusted border color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    z-index: 999;
}

.user-search-container label {
    font-weight: bold;
}

#user-search-input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #b3c7e2; /* Adjusted border color */
    border-radius: 5px;
}

#user-list {
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #b3c7e2; /* Adjusted border color */
    border-radius: 5px;
    margin-bottom: 10px;
}

#user-list li {
    padding: 8px;
    cursor: pointer;
}

#user-list li:hover {
    background-color: #d9e6ff; /* Adjusted hover background color */
}

#assign-user-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#assign-user-btn:hover {
    background-color: #45a049; /* Adjusted hover background color */
    opacity: 0.8;
}

/* Cancel search button */
#cancel-search-btn {
    cursor: pointer;
    font-size: 20px;
    display: block; /* Ensures it takes full width */
    margin: 0 auto; /* Centers the button horizontally */
    text-align: center; /* Centers the content within the button */
    width: fit-content; /* Sets width to content width */
}

.register-search-results,
.deregister-search-results {
    margin: 10px 0;
    border-radius: 10px;
    overflow-y: scroll;
    max-height: 40vh;

}

.search-result {
    cursor: pointer;
    padding: 5px;

}

.search-result:hover {
    background-color: rgb(165, 164, 164);

}
/*Firmware table*/




.firmware-button-class{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    border-radius: 5px;
}









/* Maintenance */

/* .maintenance-body{
    display: flex;
} */

.maintenance-action-tabs{
    display: flex;
    gap: 10px;
    padding: 1rem 0;
    flex-flow: wrap;
    row-gap: 10px;
}
.operational-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    flex-flow: wrap;   
}

.maintenance-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    flex-flow: wrap; 
}
.maintenancecontainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    background-color : white;
    border-radius : 10px;
    overflow-y: auto;
}

.selectedcontainer{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap : 1rem;
    margin: 10px;
    padding: 10px;
    border-radius : 10px;

}



.maintenancecontainer::-webkit-scrollbar {
    display: none;
  }

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;    
}

.selected-list{
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 10px;
    padding: 10px;
    background-color : white;
    border-radius : 10px;
    
}

.controls button {
    background-color: rgb(10, 10, 101);
    margin: 5px 0;
    padding : 10px;
    font-weight: 600;
    border-radius: 50%;
}

.button-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;    
}

.button-item.selected {
    background-color: #ddd;
}

@media (max-width : 1000px){
    .operational-wrapper{
        justify-content: center;
        gap: 1rem;
    }

    .maintenance-wrapper{
        justify-content: center;
        gap: 1rem;
    }

}
@media (max-width : 768px){
    .operational-wrapper{
        flex-direction: column;
        gap: 0;
    }

    .maintenance-wrapper{
        flex-direction: column;
        gap: 0;
    }

    .controls{
        rotate: 90deg;
    }
}

@media (max-width : 460px){
    .maintenancecontainer , .selectedcontainer{
        width : 90%;

    }
}