body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding-top: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    color: #ecf0f1;
    display: block;
    text-align: center;
}

.sidebar a:hover {
    background-color: #34495e;
}

.main-content {
    flex-grow: 1;
    background-color: #ecf0f1;
    padding: 20px;
}

.header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
}

.button-group {
    display: flex;
    gap: 10px;
}

.header button {
    background-color: white;
    color: #2c3e50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
}

.all-devices,
.all-consumers {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    max-height: 520px;
    overflow-y: auto;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-top: 5px;
    flex: 1;
    min-width: 30%;
    max-width: 30%;
    height: 120px;
}

.card-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card button {
    background-color: #2c3e50;
    color: white;
    width: 90px;
    border: none;
    border-radius: 5px;
    height: 30px;
    font-weight: 400;
    cursor: pointer;
}

.container {
    margin-top: 15px;
}

.tabs {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 5px;
}

.tabs button {
    background-color: #2c3e50;
    color: white;
    min-width: 90px;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-weight: 500;
    cursor: pointer;

}



.form-container {
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label,
.form-container button {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;

}

#deregister-consumer-form input,
#register-consumer-form input,
#register-device-form input,
#deregister-device-form input{
    margin-bottom: 15px;
}

.form-container input {
    height: 40px;
    padding: 0 5px;
    font-size: 15px;
}



.form-container button {
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}



/* Styles for Unassigned Devices Table */
#unassigned-devices-table, #maintenance-devices-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#unassigned-devices-table th,
#unassigned-devices-table td,
#maintenance-devices-table th,
#maintenance-devices-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

#unassigned-devices-table th,
#maintenance-devices-table th {
    background-color: #2c3e50;
    color: white;
    font-weight: 600;
}

#unassigned-devices-table tr:nth-child(even), 
#maintenance-devices-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#unassigned-devices-table tr:hover ,
#maintenance-devices-table tr:hover{
    background-color: #ddd;
}

#unassigned-devices-table button, 
#maintenance-devices-table button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Add space between buttons */
}

#unassigned-devices-table button#delete-button {
    background-color: #f44336;
    margin-right: 0; /* Remove right margin for delete button */
}

#unassigned-devices-table button:hover ,
#maintenance-devices-table button:hover{
    opacity: 0.8;
}


/* SEARCH USER */
.user-search-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e6f0ff; /* Adjusted background color with a bluish tone */
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #020d1b; /* Adjusted border color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    z-index: 999;
}

.user-search-container label {
    font-weight: bold;
}

#user-search-input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #b3c7e2; /* Adjusted border color */
    border-radius: 5px;
}

#user-list {
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #b3c7e2; /* Adjusted border color */
    border-radius: 5px;
    margin-bottom: 10px;
}

#user-list li {
    padding: 8px;
    cursor: pointer;
}

#user-list li:hover {
    background-color: #d9e6ff; /* Adjusted hover background color */
}

#assign-user-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#assign-user-btn:hover {
    background-color: #45a049; /* Adjusted hover background color */
    opacity: 0.8;
}

/* Cancel search button */
#cancel-search-btn {
    cursor: pointer;
    font-size: 20px;
    display: block; /* Ensures it takes full width */
    margin: 0 auto; /* Centers the button horizontally */
    text-align: center; /* Centers the content within the button */
    width: fit-content; /* Sets width to content width */
}
