.sync-buttons-container{
    display: flex;
    justify-content: space-around;
}


.list button{
    display: inline;
}


.site-btn-grp{
    padding: 10px;
    display: flex;
    gap: 1rem;
    justify-content: center;
}