<!-- content -->
<div class="content">
    <div class="btn-grp">
        <button id="all-consumers-btn">All Consumers</button>
        <button id="register-consumer-btn">Register Consumer</button>
        <button id="deregister-consumer-btn">De-register Consumer</button>
    </div>
    <div id="consumer-list" class="all-consumers"></div>
    <div id="register-container" class="form-container" style="display:none;">
        <form id="register-consumer-form">
            <label for="register-consumer-id">Consumer ID:</label>
            <input type="text" id="register-consumer-id" name="register-consumer-id" required>
            <div class="register-search-results"></div>
            <button type="submit" id="register-consumer-btn">Register</button>
            <button type="button" id="register-consumer-cancel-button" class="cancel-button">Cancel</button>
        </form>
    </div>
    <div id="deregister-container" class="form-container" style="display:none;">
        <form id="deregister-consumer-form">
            <label for="deregister-consumer-id">Consumer ID:</label>
            <input type="text" id="deregister-consumer-id" name="deregister-consumer-id" required>
            <div class="deregister-search-results"></div>
            <button type="submit">De-register</button>
            <button type="button" id="deregister-consumer-cancel-button" class="cancel-button">Cancel</button>
        </form>
    </div>
</div>
<!-- help -->
<h3 class="help">help from site consumer id</h3>