<!-- content -->
<div id="edit-form-container" class="form-container content">
    <form id="edit-userForm">
      <label for="edit-name">Name:</label>
      <input type="text" id="edit-name" value="Current Name"><br><br>
      <label for="edit-location">Location:</label>
      <input type="text" id="edit-location" value="Current Location"><br><br>
      <button type="submit" id="update-button">Update</button>
    </form>
  </div>
  <!-- help -->
  <h3 class="help">help from site editprofile id</h3>
  