<!-- content -->
<div id="firmware-version-list" class="firmware-version content">
  <div id="firmware-button-id" class="firmware-button-class">
    <button id="upgrade-all-versions">Upgrade All Versions</button>
    <button id="intimate-all">Intimate All</button>
    <select id="firmware-dropdown" class="firmware-dropdown">
      <option value="" disabled selected>Select a firmware version</option>
    </select>
  </div>
  <div id="device-versions-container">
  </div>
  
</div>
<!-- help -->
<h3 class="help">help from site firmwarelink id</h3>