<!-- content -->
<div id="unassigned-devices-list" class="unassigned-devices content"></div>
        <div id="user-search-container" class="user-search-container" style="display:none;">
            <label for="user-search-input">Search User:</label>
            <input type="text" id="user-search-input" placeholder="Type to sarch...">
            <ul id="user-list">
               
            </ul>
            <button id="assign-user-btn">Assign</button>
            <span id="cancel-search-btn">&#x2716;</span> 
        </div>
<!-- help -->
<h3 class="help">help from site unassigneddeviceslink id</h3>
