<!-- content -->
<div id='administration-list' class='list content' >
    <h2>Administration</h2>
    <br>
    <div class='sync-buttons-container'>
      <div class='sync-source-code-container'>
        <span>SYNC SOURCE CODE</span>
        <button id='syncSourceCode'><img src='logo/cloud_sync.svg' alt='sync'></button>
      </div>
      <div class='sync-source-code-container'>
        <span>SYNC PI SOURCE CODE</span>
        <button id='syncPiSourceCode'><img src='logo/cloud_sync.svg' alt='sync'></button>
      </div>
      <div class='sync-firmware-container'>
        <span>SYNC FIRMWARE</span>
        <button id='syncFirmware'><img src='logo/sync.svg' alt=''></button>
      </div>
    </div>
  </div>
  <!-- help -->
  <h3 class="help">help from superAdmin administration id</h3>
  