<div id='site-list' class='list content'>
  <h2>All Sites</h2>
  <div class='table-container'>
      <table>
          <thead>
              <tr><th>Name</th><th>Location</th></tr>
          </thead>
          <tbody id='sites-table-body'></tbody>
      </table>
  </div>
  <select id="firmware-dropdown" size="10">
      <option value="" disabled selected>Select a firmware version</option>
  </select>
  <button id='intimate-all-btn' disabled>Intimate All</button>
</div>

<h3 class="help">Help from Super Admin sites id</h3>