<!-- content -->
<div id='deregister-form-container' class='form-container content'>
    <form id='deregister-site-form'>
      <label for='site-id'>Site ID:</label>
      <input type='text' id='deregister-site-id' name='site-id' required>
      <div class='deregister-search-results'></div>
      <button type='submit'>De-register</button>
      <button type='button' id='deregister-cancel-button'>Cancel</button>
    </form>
  </div>
  <!-- help -->
  <h3 class="help">help from admin deregistersitebutton id</h3>
  