<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body>
    <div class="wrap-container">
        <div class="topbar">
            <div class="topbar-left">
                    <img src="/logo/logo.png" alt="Nuez logo">
                    
                    <h3>Nuez Smart Watermeter</h3> 
            </div>
            <div class="topbar-middle">
                
            </div>
            
             <div class="topbar-right">
      
                    <button class="logout-btn">
                            <img src="/logo/logout.svg" alt="LOGOUT">
                            LOGOUT
                    </button>
                    
                  
             </div>
        </div>
        <div class="main-content">
            <div id="all-site-cards">

            </div>
    
            <div id="register-form-container" class="form-container" style="display: none;">
                <form id="register-site-form">
                    <label for="site-id">Site ID:</label>
                    <input type="text" id="site-id" name="site-id" required>
                    <div class="register-search-results"></div>
                    <button type="submit">Register</button>
                    <button type="button" id="register-cancel-button">Cancel</button>
                </form>
            </div>
            <div id="deregister-form-container" class="form-container" style="display: none;">
                <form id="deregister-site-form">
                    <label for="site-id">Site ID:</label>
                    <input type="text" id="deregister-site-id" name="site-id" required>
                    <div class="deregister-search-results"></div>
                    <button type="submit">De-register</button>
                    <button type="button" id="deregister-cancel-button">Cancel</button>
                </form>
            </div>
      
            
        </div>
        <div class="left-side-bar">
        
        </div>
        <div class="right-side-bar"></div>
        <div class="footer"></div>
      </div>
      


    <script type="module" src="/js/pages/admin.js"></script>
    <script type="module" src="/js/common/PageToTopToSidebar.js"></script>

</body>

</html>