<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

    <div class="sidebar">
        <div id="admin-id"></div>
        <a href="#" id="view-site-button">All Sites</a>
        <a href="#" id="settings-link">Edit Profile</a>
        <a href="#" id="logout-link">Logout</a>
    </div>

    <div class="main-content">
        <div class="header">
            <div id="heading">
            </div>
            <div class="button-group">
                <button id="register-site-button">Register</button>
                <button id="deregister-site-button">Deregister</button>
            </div>
        </div>

        <div id="site-list" class="all-sites">

        </div>

        <div id="register-form-container" class="form-container" style="display: none;">
            <form id="register-site-form">
                <label for="site-id">Site ID:</label>
                <input type="text" id="site-id" name="site-id" required>
                <button type="submit">Register</button>
                <button type="button" id="register-cancel-button">Cancel</button>
            </form>
        </div>
        <div id="deregister-form-container" class="form-container" style="display: none;">
            <form id="deregister-site-form">
                <label for="site-id">Site ID:</label>
                <input type="text" id="deregister-site-id" name="site-id" required>
                <button type="submit">De-register</button>
                <button type="button" id="deregister-cancel-button">Cancel</button>
            </form>
        </div>
    </div>

    <script type="module" src="/js/pages/admin.js"></script>

</body>

</html>