<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumer Dashboard</title>
    <link rel="stylesheet" href="/css/consumer.css">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body>
    <div class="wrap-container">
        <div class="topbar">
            <div class="topbar-left">
                    <img src="/logo/logo.png" alt="Nuez logo">
                    
                    <h3>Nuez Smart Watermeter</h3> 
            </div>
            <div class="topbar-middle">
                
            </div>
            
             <div class="topbar-right">
      
                    <button class="logout-btn">
                            <img src="/logo/logout.svg" alt="LOGOUT">
                            LOGOUT
                    </button>
                    
                  
             </div>
        </div>
        <div class="main-content">
            
      
            
        </div>
        <div class="left-side-bar">
        
        </div>
        <div class="right-side-bar"></div>
        <div class="footer"></div>
      </div>
      


    <script type="module" src="/js/pages/consumer.js"></script>
    <script type="module" src="/js/common/PageToTopToSidebar.js"></script>

</body>

</html>
