<!-- deviceProfile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Profile</title>
    <link rel="stylesheet" type="text/css" href="/css/deviceProfile.css">
</head>
<body>

<div class="device-profile-container">
    <h1 class="device-profile-heading">Device Profile</h1>

    <div class="device-card" id="device-card">
        <h3 id="device-id"></h3>
        <h3 id="device-name"></h3>
        <p id="device-location"></p>
        <p id="device-totalConsumption"></p>
        <p id="device-status"></p>
        <p id="device-registrationDate"></p>
        <hr>
        <div class="button-container">
            
        </div>
        </div>
    </div>

    <!-- Edit Profile Form -->
    <form id="editProfileForm" class="overlay" style="display: none;">
        <label for="deviceId">Device ID:</label>
        <input type="text" id="deviceId" name="deviceId" readonly>
    
        <label for="deviceName">Device Name:</label>
        <input type="text" id="deviceName" name="deviceName">
    
        <label for="deviceLocation">Device Location:</label>
        <input type="text" id="deviceLocation" name="deviceLocation">
    
        <input type="hidden" id="deviceTotalConsumption" name="deviceTotalConsumption">
        <input type="hidden" id="deviceStatus" name="deviceStatus">
        <input type="hidden" id="deviceRegistrationDate" name="deviceRegistrationDate">
    
        <input type="checkbox" id="confirmCheckbox" required>
        <label for="confirmCheckbox">Are you sure you want to update the above details?</label>
    
        <button type="submit">Update</button>
        <button type="button" id="cancelButton">Cancel</button>
    </form>
</div>

<script type="module" src="/js/pages/deviceProfile.js"></script>
</body>
</html>
