<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Profile</title>
    <link rel="stylesheet" type="text/css" href="/css/deviceProfile.css">
</head>
<body>

<div class="device-profile-container">
    <h1 class="device-profile-heading">Device Profile</h1>

    <div class="device-card" id="device-card">
        <h3 id="device-id"></h3>
        <h3 id="device-name"></h3>
        <p id="device-location"></p>
        <p id="device-totalConsumption"></p>
        <p id="device-status"></p>
        <p id="device-registrationDate"></p>
        <hr>
        <div class="button-container">
        </div>
    </div>
</div>

<script type="module" src="/js/pages/deviceProfile.js"></script>
</body>
</html>
