<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>

    <div class="login-form">

        <form id="loginform">
            <h3>WELCOME BACK</h3>
            <div class="login_option">
                <!-- <div class="option">
                    <button id="otplogin">Login via OTP </button>
                </div> -->
                <div class="option">
                    <button type="button" id="google">Sign In With Google 
                        <img src="/logo/google.png" alt="">
                    </button>
                </div>
            </div>
            <!-- Login option separator -->
            <p class="separator">
                <span>or</span>
            </p>

            <div class="input-box">
                <label for="email">Email Address <span class="asterisk" aria-hidden="true">*</span></label>
                <input type="email" id="username" name="username" placeholder="Enter email address" required>
            </div>
           
            <div class="input-box">
                <div class="password-title">
                    <label for="password">Password <span class="asterisk" aria-hidden="true">*</span></label>
                </div>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>

            <button type="submit">Log In</button>
            <p class="sign_up">Don't have an account? <a href="/register">Sign up</a></p>

        </form>



    </div>

    <script type="module" src="./js/pages/login.js"></script>

</body>

</html>
