<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login via OTP</title>
    <link rel="stylesheet" href="./css/loginviaotp.css">
</head>
<body>
    
<div>
    <h2>Login via OTP</h2>
    <div class="container">
        
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" required>
        </div>

        <button id="sendotp">Send OTP</button>
<hr>
        <div class="form-group" style="margin-top: 20px;">
            <label for="otp">Enter OTP</label>
            <input type="text" id="otp" required>
        </div>
        
        <button id="verifyotp">Verify OTP</button>
    </div>
    </div>
    <script type="module" src="./js/pages/loginviaotp.js"></script>
    
</body>
</html>