<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Dashboard</title>
    <link rel="stylesheet" href="/css/siteToDevice.css">
</head>

<body>

    <div class="sidebar">
        <div id="site-id"></div>
        <a href="#dashboard" id="dashboard-link">Dashboard</a>
        <a href="#users" id="users-link">Users</a>
        <a href="#settings" id="settings-link">Settings</a>
        <a href="#logout" id="logout-link">Logout</a>
    </div>

    <div class="main-content">
        <div class="header">
            <div id="heading">
            </div>
            <div class="button-group">
                <button id="register-device-button">Register</button>
                <button id="deregister-device-button">Deregister</button>
            </div>
        </div>

        <div id="main-container" class="container">
            <div class="tabs">
                <button id="device-tab">All Devices</button>
                <button id="consumer-tab">All Consumers</button>
            </div>
            <div id="device-list" class="all-devices">

            </div>
            <div id="consumer-list" class="all-consumers">

            </div>


        </div>


        <div id="register-form-container" class="form-container" style="display: none;">
            <form id="device-form">
                <label for="device-id">Device ID:</label>
                <input type="text" id="device-id" name="device-id" required>
                <button type="submit">Register</button>
                <button type="button" id="cancel-button">Cancel</button>
            </form>
        </div>
        <div id="deregister-form-container" class="form-container" style="display: none;">
            <form id="device-form">
                <label for="device-id">Device ID:</label>
                <input type="text" id="device-id" name="device-id" required>
                <button type="submit">De-register</button>
                <button type="button" id="cancel-button">Cancel</button>
            </form>
        </div>
    </div>

    <script type="module" src="/js/pages/siteToDevice.js"></script>

</body>

</html>