<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Admin</title>
    <link rel="stylesheet" href="./css/superAdmin.css">
    <link rel="stylesheet" href="./css/common.css">
</head>

<body>
    <div class="wrap-container">
        <div class="topbar">
            <div class="topbar-left">
                    <img src="logo/logo.png" alt="Nuez logo">
                    <h3>Nuez Smart Watermeter</h3> 
            </div>
            <div class="topbar-middle">
                <div class="button-container">
                    <button class="super-admin-navbar-consumer-btn" id="super-admin-navbar-consumer-btn"> <!-- Updated class and id -->
                        <img src="logo/consumer.svg" alt="CONSUMER">
                    </button>
                    <span class="button-description">CONSUMER</span>
                </div>
                <div class="button-container">
                    <button class="super-admin-navbar-admin-btn" id="super-admin-navbar-admin-btn"> <!-- Updated class and id -->
                        <img src="logo/admin.svg" alt="ADMIN">
                    </button>
                    <span class="button-description">ADMIN</span>
                </div>
                <div class="button-container">
                    <button class="super-admin-navbar-site-btn" id="super-admin-navbar-site-btn"> <!-- Updated class and id -->
                        <img src="logo/site.svg" alt="SITES">
                    </button>
                    <span class="button-description">SITES</span>
                </div>
                <div class="button-container">
                    <button class="super-admin-navbar-advance-btn" id="super-admin-navbar-advance-btn"> <!-- Updated class and id -->
                        <img src="logo/advance.svg" alt="ADVANCE">
                    </button>
                    <span class="button-description">ADVANCE</span>
                </div>
            </div>
            
             <div class="topbar-right">
  
                    <button class="logout-btn">
                            <img src="logo/logout.svg" alt="LOGOUT">
                            LOGOUT
                    </button>
                    
                  
             </div>
        </div>
        <div class="main-content">
            <div id="user-list" class="list">
                <h2>All Consumers</h2>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="users-table-body"></tbody>
                    </table>
                </div>
            </div>
            <div id="admin-list" class="list">
                <h2>All Admins</h2>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="admins-table-body">

                        </tbody>
                    </table>
                </div>
            </div>
            <div id="site-list" class="list">
                <h2>All Sites</h2>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody id="sites-table-body">
                        </tbody>
                    </table>
                </div>
                <button id="intimate-all-btn">Intimate All</button>
            </div>
            <div id="approved-list" class="list">
                <h2>Approved Requests</h2>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Role Requested</th>
                                <th>TimeStamp</th>
                            </tr>
                        </thead>
                        <tbody id="approved-table-body">

                        </tbody>
                    </table>
                </div>
            </div>
            <div id="rejected-list" class="list">
                <h2>Rejected Requests</h2>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Role Requested</th>
                                <th>Timestamp</th>
                            </tr>
                        </thead>
                        <tbody id="rejected-table-body">

                        </tbody>
                    </table>
                </div>
            </div>
            <div id="pending-list" class="list">
                <h2>Pending Requests</h2>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Current Role</th>
                                <th>Requested Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="pending-table-body">

                        </tbody>
                    </table>
                </div>
            </div>
            <div id="administration-list" class="list">
                <h2>Administration</h2>
                <br>
                <div class="sync-buttons-container">
                    <div class="sync-source-code-container">
                        <span>SYNC SOURCE CODE</span>
                        <button id="syncSourceCode" >
                            <img src="logo/cloud_sync.svg" alt="sync">
                        </button>
                    </div>
                    
                    <div class="sync-firmware-container">
                        <span>SYNC FIRMWARE</span>
                        <button id="syncFirmware">
                            <img src="logo/sync.svg" alt="">
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="left-side-bar">
            <button id="users-tab">All Consumers</button>
            <button id="admins-tab">All Admins</button>
            <button id="sites-tab">All Sites</button>
            <button id="approved-tab">Approved Requests</button>
            <button id="rejected-tab">Rejected Requests</button>
            <button id="pending-tab">Pending Requests</button>
            <button id="administration-tab">Administration</button>
        </div>
        <div class="right-side-bar"></div>
        <div class="footer"></div>
    </div>
    <script type="module" src="/js/pages/superAdmin.js"></script>
</body>

</html>